---
import AnchorHeading from "./AnchorHeading.astro";
import RSSButton from "./RSSButton.astro";

import { Aside } from "@astrojs/starlight/components";

import { productsByGroup } from "~/util/products";
import Details from "./Details.astro";
---

<AnchorHeading depth={2} title="Feeds" />

<AnchorHeading depth={3} title="Global feed" />
<p>
	This feed contains entries for all Cloudflare products: <RSSButton />
</p>

<AnchorHeading depth={3} title="Area-specific feeds" />
{
	productsByGroup.map(([group, products]) => (
		<>
			<AnchorHeading depth={4} title={group} />
			{group === "Application security" && (
				<Aside type="note" title="DDoS and WAF ruleset feeds">
					<p>
						For <a href="/ddos-protection/">DDoS Protection</a> or{" "}
						<a href="/waf/">WAF</a> updates to managed rulesets, please refer to
						their independent feeds:
						<ul>
							<li>
								<p>
									<a href="/ddos-protection/change-log/network/">
										Network-layer DDoS managed ruleset
									</a>
								</p>
								<RSSButton href="/ddos-protection/change-log/network/index.xml" />
							</li>
							<li>
								<p>
									<a href="/ddos-protection/change-log/http/">
										HTTP DDoS managed ruleset
									</a>
								</p>
								<RSSButton href="/ddos-protection/change-log/http/index.xml" />
							</li>
							<li>
								<p>
									<a href="/waf/change-log/">WAF managed ruleset</a>
								</p>
								<RSSButton href="/waf/change-log/index.xml" />
							</li>
						</ul>
					</p>
				</Aside>
			)}
			<p>
				This feed contains entries for all {group} products:{" "}
				<RSSButton changelog={group} />
			</p>
			<Details header="Included products">
				<ul>
					{products?.map((product) => (
						<li>
							<p>
								<a href={product.data.product.url}>
									{product.data.product.title}
								</a>
							</p>
							<RSSButton changelog={product.id} />
						</li>
					))}
				</ul>
			</Details>
		</>
	))
}
